@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body{
    background: url("../img/cabaret/bg1.png") #0D0D0D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}

p{
    font-family: Poppins, sans-serif;
    color: #D9D9D9;
    font-weight: 200;
}

div#cabaret{
    display: flex;
    align-items: center;
    gap: 4rem;
    p{
        font-size: 1.6vw;
        width: 70%;
        margin-bottom: 2rem;
    }
    a{
        background-color: #BD9519;
        color: #D9D9D9;
        font-weight: 400;
        padding: 1rem;
        border-radius: 20px;
        font-size: 1.3vw;
        transition: all ease-in 0.4s;
        &:hover{
            box-shadow: 0 0 10px #ebcb4c;
        }
    }
    img{
        width: 50%;
    }
}

div.buttons{
    width: 50%;
    gap: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    button{
        background-color: #ebcb4c;
        font-family: poppins;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-radius: 50%;
        font-size: 35px;
        font-weight: 500;
    }
}

section.imagenes{
    img{
        margin-top: 1rem;
    }
}

section.actores{
    width: 100%;
    .actor{
        width: 80%;
        height: 700px;
        margin: 2rem auto;
        background-color: #0d0d0d9d;
        border-radius: 0 3rem 3rem 0;
        display: flex;
        box-shadow: 0 0 40px 1px #ebcb4c7e;
    }
    .img-actor{
        background: url("../img/cabaret/carrusel2/andrea.png") center no-repeat;
        background-size: cover;
        width: 30%;
        height: 100%;
    }
    .info-actor{
        width: 65%;
        padding: 1rem;
        margin: auto auto;

        h2{
            color: #D9D9D9;
            font-size: 4vw;
        }
        p{
            font-size: 1.5vw;
        }
    }
    .buttons{
        margin: 0 auto;
        width: 80%;
        justify-content: start;
    }
}

@media (max-width: 1000px){
    div#cabaret{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        img{
            width: 80%;
            margin: 1rem auto;
        }
        div{
            display: flex;
            flex-direction: column;
            p{
                width: 80%;
                margin: 0 auto;
                font-size: 3vw;
                margin-bottom: 1rem;
            }
            a{
                margin: 0 auto;
                font-size: 3vw;
            }
        }
    }
    section.imagenes{
        div.carrusel{
            height: auto;
        }
        div.buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transform: scale(0.8);
        }
    }
    section.actores{
        .actor{
            height: 400px;
        }
        .img-actor{
            width: 30vw;
            background-size: cover;
        }
        .info-actor{
            h2{
                font-size: 4.5vw;
            }
            p{
                font-size: 2vw;
            }
        }
        div.buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transform: scale(0.8);
        }
    }
}

@media (max-width: 500px){
    section.imagenes{
        img{
            height: auto;
        }
    }
    section.actores{
        .actor{
            height: 50vw;
            width: 95%;
        }
        .img-actor{
            width: 40vw;
        }
    }
}