main{
    display: flex;
    flex-direction: column;
}

section.cabaret{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10rem;
    width: 90%;
    gap: 10px;
    align-items: center;
    div.titulo-div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0;
        h2{
            align-self: self-start;
            font-size: 43px;
            width: 20%;
            text-align: center;
        }
        hr.titulo{
            width: 80%;
            height: 2px;
        }
    }
    div{
        display: flex;
        color: #D9D9D9;
        gap: 5rem;
        img{
            width: 60%;
            padding: 1rem;
        }
        div{
            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: center;
            gap: 20px;
            p{
                font-weight: 300;
                font-size: 22px;
                margin: 0;
            }
            a{
                margin: 0;
                text-decoration: none;
                background-color: #BD9519;
                color: #fff;
                border-radius: 33px;
                padding: 10px;
                font-size: 24px;
                text-align: center;
                &:hover{
                    box-shadow: 0px 0px 9px 0px #D3B543;
                }
            }
        }
    }
}

section.imagenes{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    align-items: center;
    gap: 20px;
    div.titulo-div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0;
        h2{
            align-self: self-start;
            font-size: 43px;
            width: 20%;
            text-align: center;
        }
        hr.titulo{
            width: 80%;
            height: 2px;
        }
    }
    div.carrusel{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img{
            width: 80%;
        }
        div.buttons{
            width: 80%;
            display: flex;
            align-items: end;
            justify-content: end;
            gap: 10px;
            button{
                width: 58px;
                height: 58px;
                background-color: transparent;
                border: transparent;
                cursor: pointer;
            }
            button.arrow-left{
                background: url(../../img/arrow-left.svg);
                filter: brightness(50%);
                cursor: no-drop;
            }
            button.arrow-right{
                background: url(../../img/arrow-right.svg);
            }
        }
    }
}

@media (max-width: 960px) {
    section.cabaret{
        div.titulo-div{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;
            h2{
                width: 100%;
                font-size: 35px;
                text-align: center;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
            div{
                width: 100%;
                gap: 30px;
            }
        }
    }
    section.imagenes{
        margin-top: 40px;
        width: 100%;
        div.titulo-div{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;
            h2{
                width: 100%;
                font-size: 35px;
                text-align: center;
            }
        }

        div.carrusel{
            img{
                width: 100%;
            }
            div.buttons{
                justify-content: center;
            }
        }
    }
}

@media (max-width: 480px) {
    section.cabaret{
        margin-top: 5rem;
        div.titulo-div{
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                width: 100%;
                font-size: 20px;
                text-align: center;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }
            div{
                width: 100%;
                gap: 30px;
            }
        }
    }
    
}