@font-face{
    font-family: "Clarity City";
    src: url("../../fonts/ClarityCity-ExtraBold.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    font-family: "Clarity City";
}

.titulo-h{
    color: #BD9519;
}

hr.linea{
    width: 95%;
    border: none;
    background-color: #BD9519;
    height: 1px;
    box-shadow: 0px 0px 9px 0px #D3B543;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

    div{
        display: flex;
        gap: 20px;
    }

    img{
        width: 25%;
        min-width: 150px;
        max-width: 250px;
    }

    a{
        text-decoration: none;
        transition: all 0.3s ease-in;
        font-size: 20px;
        &:hover{
            color: #ebcb4c;
        }
    }
}

div.titulo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 8rem;

    hr.linea{
        width: 75%;
    }

    h2.titulo-h{
        font-size: 35px;
    }
}

@media (max-width: 500px){
    header{
        a{
            display: none;
        }
    }
    div.titulo-div{

        hr.linea{
            width: 60%;
        }

        h2.titulo-h{
            font-size: 10px !important;
        }
    }
    div.titulo-div{
        margin-top: 2rem;
    }
}

@media (max-width: 1000px){
    div.titulo-div{

        hr.linea{
            width: 70%;
        }

        h2.titulo-h{
            font-size: 20px;
        }
    }
}